{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block NavBar %}

    <nav class="navbar is-info" role="navigation" aria-label="main navigation">


        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="{{ asset('img/logo.png') }}">
                <h1 class="titrelogo"> Move It !</h1>
            </a>

            <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="false"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {% if app.user %}
        <div id="navbarBasicExample" class="navbar-menu is-active">
            <div class="navbar-end">
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Administrer
                        </a>

                        <div class="navbar-dropdown">

                            <a class="navbar-item" href="{{ path('admin_gestionville') }}">Gérer villes</a>
                            <a class="navbar-item" href="{{ path('admin_gestionsite') }}">Gérer les sites</a>


                        </div>
                    </div>
                {% endif %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Sorties
                    </a>

                    <div class="navbar-dropdown">

                        <a class="navbar-item" href="{{ path('sortie') }}"> Organiser une sortie </a>
                        <a class="navbar-item" href=""> Publier mes sorties </a>


                    </div>
                </div>
            </div>

            <a class="navbar-item" href={{ path('home') }}>Accueil</a>

            <a class="navbar-item" href={{ path('MonProfil') }}>Mon profil</a>

            {% endif %}

            <div>
                <div class="navbar-item">
                    <div class="buttons">
                        {% if app.user %}
                            <a id="boutonCO" class="button is-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% else %}
                            <a id="boutonDECO" class="button is-link" href="{{ path('app_login') }}">Se connecter </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>

{% endblock %}

{% block body %}

    <body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black"> Connexion </h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">Vous devez être connecté pour continuer</p>
                    <div class="box">
                        <figure class="avatar has-text-centered">
                            <img class="is-rounded image is-128x128 is-inline-block" src="{{ asset('img/logotest.png') }}">
                        </figure>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="field">
                                <div class="control">

                                    <input

                                        name="email" id="inputEmail" class="form-control input is-normal" type="text" placeholder="Email or pseudo" value="{{cookie}}"  >
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input type="password" name="password" id="inputPassword" class="form-control input is-normal" placeholder="Mot de passe" autocomplete="current-password" required>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="field">
                                <label class="checkbox" >
                                    <input type="checkbox" name="_remember_me">
                                    - Se souvenir de moi
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" type="submit"> Se connecter <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié </a> &nbsp;·&nbsp;
                        <a href="{{ path('aide') }}"> Besoin d'aide </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    </body>



{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputEmail">Email</label>#}
{#    <input type="email" value="{{ app.request.cookies.get('authMail') }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}


{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me"> Remember me#}
{#            </label>#}
{#        </div>#}


{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{% endblock %}
