{% extends 'base.html.twig' %}

{% block body %}

    {% block espace %}

        <section class="hero">
            <div class="hero-body is-10">
                <div class="column is-1">Bonjour</div>

                <div class="column is-1">{{ 'now'|date('d - m -Y') }}</div>
            </div>
        </section>

    {% endblock %}

    {% block filtres %}

        <div class="row">
        <div class="col-auto mr-auto ml-5">
            <h2>Filtrer les sorties</h2>
        </div>

        <div class="row">
            <form method="post" action="{{ path('filtres') }}" class="col-lg">
                <div class="row">

                    <div class="col-lg-4 ml-3">
                        <div class="form-group row">
                            <label for="selection_du_site" class="col-lg col-form-label">Site : </label>
                            <div class="col-lg">
                                <select class="form-control" name="selection_du_site">
                                    <option value="">Nantes - Faraday</option>
                                    <option value="">Nantes - Franklin</option>
                                    <option value="">Angers</option>
                                    <option value="">Rennes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="barre_recherche" class="col-lg col-form-label">Le nom de la sortie contient
                                : </label>
                            <div class="col-lg">
                                <input type="search" class="form-control" name="barre_recherche" aria-label="Search">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Entre" class="col-lg col-form-label">Entre le : </label>
                            <div class="col-lg">
                                <input type="date" class="form-control" name="dateEntree">
                            </div>
                            <label for="Et" class="col-lg col-form-label">Et</label>
                            <div class="col-lg">
                                <input type="date" class="form-control" name="dateEt">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="organisateur">
                            <label for="organisateur" class="form-check-label">Sorties dont je suis
                                l'organisateur.trice</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="inscrit">
                            <label for="inscrit" class="form-check-label">Sorties auxquelles je suis
                                inscrit.e</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="nonInscrit">
                            <label for="nonInscrit" class="form-check-label">Sorties auxquelles je ne suis pas
                                inscrit.e</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="termine">
                            <label for="termine" class="form-check-label">Sorties passées</label>
                        </div>
                    </div>

                    <div class="col-lg text-justify">
                        <button class="button is-info is-medium">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block table %}

        <div class="table-container">
            <table class="table is-fullwidth is-hoverable mx-3">
                <thead>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th >inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                </thead>

                <tbody>
                <tr>
                    {% for sortie in listeSorties %}
                       <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                        <td>{{ sortie.dateHeureFin|date("d/m/Y") }}</td>
                        <td>{{ sortie.inscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat }}</td>
                        <td>X</td>
                        <td>{{ sortie.organisateur }}</td>
                    <td>
                            <a href="">- Afficher</a>
                            <a href=" {{ path('inscriptionsortie', {'idsortie':sortie.id}) }}">- S'inscrire/Se désister</a>
                            <a href="">-Modifier/Annuler</a>
                            <a href="">- Publier</a>
                    </td>
                </tr>
                        </td>
                </tr>
                    {% endfor %}
                </tr>

                </tbody>
            </table>
        </div>


    {% endblock %}

{% endblock %}