{% extends 'base.html.twig' %}

{% block body %}

    {% block espace %}


        <div class="columns">
            <div class="column">
                <div>
                    <p class="title is-5"></p>
                    <p class="subtitle"></p>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="box" style="width: 500px;"><br>
                    <p class="title is-5">Bonjour {{ app.user.idParticipant.prenom }}</p>
                    <p class="subtitle">Nous sommes le {{ 'now'|date('d - m -Y') }}</p>
                </div>
            </div>

        </div>

    {% endblock %}

    {% block filtres %}

        <div class="row">
        <div class="col-auto mr-auto ml-5">
            <h2>Filtrer les sorties</h2>
        </div>

        <div class="row">
            <form method="post" action="{{ path('filtres') }}" class="col-lg">
                <div class="row">

                    <div class="col-lg-4 ml-3">
                        <div class="form-group row">
                            <label for="selection_du_site" class="col-lg col-form-label">Site : </label>
                            <div class="col-lg">
                                <select class="form-control" name="selection_du_site">
                                    {% for site in sites %}
                                    <option value="ok"></option>
                                    <option value="{{ site }}">{{ site }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="barre_recherche" class="col-lg col-form-label">Le nom de la sortie contient
                                : </label>
                            <div class="col-lg">
                                <input type="search" class="form-control" name="barre_recherche" aria-label="Search">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Entre" class="col-lg col-form-label">Entre le : </label>
                            <div class="col-lg">
                                <input type="date" class="form-control" name="dateEntree">
                            </div>
                            <label for="Et" class="col-lg col-form-label">Et</label>
                            <div class="col-lg">
                                <input type="date" class="form-control" name="dateEt">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="organisateur">
                            <label for="organisateur" class="form-check-label">Sorties dont je suis
                                l'organisateur.trice</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="inscrit">
                            <label for="inscrit" class="form-check-label">Sorties auxquelles je suis
                                inscrit.e</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="nonInscrit">
                            <label for="nonInscrit" class="form-check-label">Sorties auxquelles je ne suis pas
                                inscrit.e</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="termine">
                            <label for="termine" class="form-check-label">Sorties passées</label>
                        </div>
                    </div>

                    <div class="col-lg text-justify">
                        <button name="rechercher" type="submit" class="button is-info is-medium">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block table %}
{# Début du tableau en BULMA#}
        <div class="table-container">
            <table class="table is-fullwidth is-hoverable mx-3">
                <thead>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th >inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                </thead>

                <tbody>
                <tr>
                    {% for sortie in listeSorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                    <td>{{ sortie.dateHeureFin|date("d/m/Y") }}</td>
                    <td>{{ sortie.inscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat }}</td>

                    {% if participant in sortie.inscrits %}
                    <td>Oui</td>
                    {% endif %}
                    {% if not (participant in sortie.inscrits) %}
                        <td>Non</td>
                    {% endif %}

                    <td>{{ sortie.organisateur }}</td>

                    <td>
                        <button class="js-modal-trigger" data-target="modal-js-example">
                            <a href={{ path('details', {'id': sortie.id}) }}">Détail</a>
                        </button>
                        {% if (sortie.etat.libelle is not same as 'Annulee') %}
                        {% if sortie in listeSortiesParticipant %}

                            <a href="{{ path('inscriptionsortie', {'idsortie':sortie.id}) }}">- Se désister</a>
                        {% endif %}
                        {% if not (sortie in listeSortiesParticipant) %}
                        <a href=" {{ path('inscriptionsortie', {'idsortie':sortie.id}) }}">- S'inscrire</a>
                        {% endif %}
                        {% if sortie.organisateur is same as participant and sortie.etat.libelle is not same as 'Annulee' %}
                            <a href=" {{ path('sortieannulee', {'id':sortie.id}) }}">Annuler</a>
                        {% endif %}



                        {%  if (sortie.organisateur is same as participant) %}
                            {%  if (sortie.etat.libelle is same as 'Ouverte' or sortie.etat.libelle is same as 'creee') %}
                            <a href="">- Modifier</a>
                            {% endif%}

                            {%  if (sortie.etat.libelle is same as 'creee') %}
                                <a href="{{ path('sortieSuppr', {'id':sortie.id}) }}">Supprimer</a>
                            {% endif%}
                        {% endif%}

                        {%  if (sortie.etat.libelle is same as 'creee' and sortie.organisateur is same as participant) %}

                        <a href="{{ path('publiersortie', {'id':sortie.id}) }}">Publier</a>
                        {% endif%}


                        {% endif %}
                        {% if (sortie.etat.libelle is same as 'Annulee') %}
                            <small>Sortie Annulée</small>
                        {% endif %}
                    </td>
                </tr>
                </td>
                </tr>
                {% endfor %}
                </tr>

                </tbody>
            </table>
        </div>

        <-- Script pour le js du modal d'affichage detail des sorties -->
        <script>
                document.addEventListener('DOMContentLoaded', () => {
                // Functions to open and close a modal
                function openModal($el) {
                $el.classList.add('is-active');
                }

                function closeModal($el) {
                $el.classList.remove('is-active');
                }

                function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
                });
                }

                // Add a click event on buttons to open a specific modal
                (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);
                console.log($target);

                $trigger.addEventListener('click', () => {
                openModal($target);
                });
                });

                // Add a click event on various child elements to close the parent modal
                (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                closeModal($target);
                });
                });

                // Add a keyboard event to close all modals
                document.addEventListener('keydown', (event) => {
                const e = event || window.event;

                if (e.keyCode === 27) { // Escape key
                closeAllModals();
                }
                });
                });
        </script>

    {% endblock %}

{#    Block du modal d'affichage #}

{#    <div id="modal-js-example" class="modal">#}
{#        <div class="modal-background"></div>#}
{#        <div class="modal-content">#}
{#            <div class="box">#}
{#        {% for sortie in detailssortie %}#}

{#                    <h3>{{ sortie.nom }} au {{ sortie.lieu }}</h3>#}
{#                    <p> {{ sortie.dateHeureDebut|date("d/m/Y H:i") }} - {{ sortie.dateHeureFin|date("d/m/Y H:i")}}</p>#}
{#                    <p>Date limite d'inscription fixée au {{ sortie.dateLimiteInscription|date("d/m/Y H:i") }}</p>#}
{#                    <p>Nombre maximum de participant limité à {{ sortie.nbInscriptionsMax }}</p>#}
{#                    <p>Sortie organisée par {{ sortie.organisateur }} du site {{ sortie.site }}</p>#}
{#                    <p>{{ sortie.InfosSortie }}</p>#}

{#        {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#        <button class="modal-close is-large" aria-label="close"></button>#}
{#    </div>#}

{% endblock %}