{% extends 'base.html.twig' %}
{% block link %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet">

{% endblock %}
{% block title %}Register{% endblock %}

{% block body %}


    <br>
    <br>
    <br>
    <br>

    {#         Pour ajouter le site de l'organisateur #}



    <div class="box has-text-centered m-6 has-background-info">

        <div class="box m-6">
            <p class="is-size-3"> Bienvenue {{ app.user.idParticipant.prenom }}</p>
            <label for=""> Lieu de rattachement : {{ app.user.idParticipant.site }} </label>
            <p> </p>


            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                'label_attr': {'class': ' text-primary'},
                'attr' : {'class':'form-control ',
                    'placeholder':'Saisir le mail du compte',
                    'type':'text',
                    'aria-describedby':"inputGroup-sizing-sm"
                },

            }) }}
            <div class="has-text-danger">
            {{ form_errors(registrationForm.email) }}
            </div>
            <br>
            {{ form_row(registrationForm.plainPassword, {
                'label_attr': {'class': ' text-primary'},
                'label':'Mot de passe utilisateur',
                'attr' : {'class':'form-control ',
                    'placeholder':'Mot de passe provisoire de l\'utilisateur à créer',
                    'type':'password',
                    'aria-describedby':"inputGroup-sizing-sm"
                },

            }) }}
            <div class="has-text-danger">
            {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <br>
            <br>
            <h6 class="text-primary">Voulez-vous enregistrer des comptes à partir d'un fichier CSV ? </h6>
                <div id="file-js-example" class=" has-text-centered file has-name file is-warning">
                    <label class="file-label">
                        {{ form_widget(registrationForm.my_csv) }}
                        <div class="has-text-danger">
                            {{ form_errors(registrationForm.my_csv) }}
                        </div>

                        <span class="file-cta">
                                      <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                      </span>
                                      <span class="file-label">
                                        Choisir un fichier CSV
                                      </span>
                                    </span>
                        <span class="file-name">
                                      Aucun Fichier Sélectionné
                                    </span>
                    </label>
                </div>




                    <div class="has-text-centered">

                        <br>
                        <figure class="image is-64x64 is-inline-block">

                            <img  class="" src="{{ asset('img/triangle-exclamation.svg') }}"/>

                            {{ form_row(registrationForm.admin, {
                                'label_attr': {'class': ' text-danger checkbox'},
                                'label':'cocher la case si Admin  ',
                                'attr' : {'class':'checkbox',
                                    'type':'checkbox',
                                    'style' : 'transform: scale(1.5); cursor: pointer;'

                                },
                            }) }}


                        </figure>
                    </div>
            <br>

            <button type="submit" class="button is-info">Créer</button>
            <button class="button is-link is-info" name="return" value="Retour"><a href="{{ path('home') }}" style="color:white;text-decoration:none">Retour à l'accueil</a></button>
            {{ form_end(registrationForm) }}


        </div>
    </div>
    </div>

    <script>


        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }
    </script>

{% endblock %}
