{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <h3 class="has-text-centered is-size-3"> Gestionnaire de villes </h3>


    <div class="box m-6">
        <p class="has-text-centered"> Filtrer les villes </p>
        <div class="field">
            <label class="label"> Le nom contient : </label>

            <div class="columns">
                <div class="column is-one-third">
                    <input type="text" class="input">
                </div>
                <div class="column is-on-fifth">
                    <button class="button"> Rechercher</button>
                </div>
            </div>

            <div class="columns">
                <div class="column is-three-fifths">
                    <div class="table-container">
                        <table class="table is-striped is-fullwidth">
                            <tr>
                                <th> Nom</th>
                                <th> code postal</th>
                                <th> Action</th>
                            </tr>

                            <tr>
                                {{ form_start(modifVille) }}
                                <td>{{ form_row(modifVille.nom) }}</td>
                                <td>{{ form_row(modifVille.CodePostal) }}</td>
                                <td><button type="submit"> Valider </button></td>
                                {{ form_end(ajoutVille) }}
                                <td><a href={{ path('admin_gestionville')}}> Annuler</a>
                            </tr>

                        </table>

                    </div>
                </div>

                <div class="column">

                </div>


            </div>
        </div>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

