{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}


{% block body %}

    <script type="text/javascript">
        function show() {

            if(document.getElementById('test') == null || document.getElementById('test') === 'undefined') {
                let p = document.getElementById('notif')
                let ajout = document.createElement("div")
                ajout.className = "notification is-link is-size-7"
                ajout.setAttribute('id', 'test')
                let text = "Ce champ vous permet de modifier votre mail pour recevoir les notifications. Il ne modifie pas votre mail de connexion (@campus-eni.fr)";
                ajout.innerText = text

                p.appendChild(ajout)

            }
        }
    </script>


    <br>
    <br>
    <br>

    <div class="block has-text-centered"><h2> Modifier votre profil </h2></div>


    <div class="box m-6">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-1">
                        <figure class="image is-256x256">
                            <img class="is-rounded" src="
                            {%if participant.image  %}
                                    {{ asset('/uploads/' ~ participant.image ) }}" alt="{{ participant.image }}">
                            {% else  %}
                                {{ asset('img/profil2.jpg') }}" alt="image">
                            {% endif %}

                        </figure>
                    </div>


                    <div class="column is-4 is-offset-1 has-text-left has-input-right">

                        <div class="colum column is-4 is-offset-1">

                        </div>

                        <div class="column column is-4 is-offset-1">

                        </div>

                        {{ form_start(monProfilFormParticipant) }}
                        <div class="box is-link has-background-info">
                            <div class="block has-text-white">
                                {{ form_label(monProfilFormParticipant.prenom) }}
                                {{ form_widget(monProfilFormParticipant.prenom) }}
                                {{ form_errors(monProfilFormParticipant.prenom) }}
                            </div>

                            <div class="block has-text-white">
                                {{ form_label(monProfilFormParticipant.nom) }}
                                {{ form_widget(monProfilFormParticipant.nom) }}
                                {{ form_errors(monProfilFormParticipant.nom) }}
                            </div>

                            <div class="block has-text-white">
                                {{ form_label(monProfilFormParticipant.telephone) }}
                                {{ form_widget(monProfilFormParticipant.telephone) }}
                                {{ form_errors(monProfilFormParticipant.telephone) }}
                            </div>

                            <div id="notif" onclick="show()" class="block has-text-white">
                                {{ form_label(monProfilFormParticipant.email) }}
                                {{ form_widget(monProfilFormParticipant.email)}}
                                {{ form_errors(monProfilFormParticipant.email) }}
                            </div>

{#                            <div class="notification is-link is-size-7">#}
{#                                <button class="delete"></button>#}
{#                                Ce champ vous permet de modifier votre mail pour recevoir les notifications. <strong>Il#}
{#                                    ne modifie pas votre mail de connexion (@campus-eni.fr)</strong>#}
{#                            </div>#}

                            <div class="block has-text-white">
                                {{ form_label(monProfilFormParticipant.site) }}
                                {{ form_widget(monProfilFormParticipant.site) }}
                                {{ form_errors(monProfilFormParticipant.site) }}
                            </div>

                            <div class="block has-text-white">
                                <div id="file-js-example" class="file has-name file is-warning">
                                    <label class="file-label">
                                        {{ form_widget(monProfilFormParticipant.my_file) }}
                                        {{ form_errors(monProfilFormParticipant.my_file) }}
                                        <span class="file-cta">
                                      <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                      </span>
                                      <span class="file-label">
                                        Choisir Image
                                      </span>
                                    </span>
                                    <span class="file-name">
                                      No file uploaded
                                    </span>
                                    </label>
                                </div>

                            </div>
                            <div class=" block has-text-white "><a class="has-text-white"
                                href="{{ path('modifiermdp') }}"> modifier mot de passe </a></div>
                            <div class="field is-grouped is-grouped-centered">

                                <p class="control">
                                    <button class="button is-link is-light"><a  style="text-decoration:none" href="{{ path('home') }}">Retour à l'accueil</a></button>
                                </p>
                                <p class="control">
                                    <button class="button is-link is-light" type="submit"> Modifier</button>
                                </p>
                            </div>
                            {{ form_end(monProfilFormParticipant) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    <h1>Mon profil</h1> #}

    {#    <img src="https://via.placeholder.com/250x250" alt="Ma photo de profil"> #}

    {#    {{ form_start(monProfilFormParticipant) }} #}

    {#    <div class="group"> #}
    {#        {{ form_label(monProfilFormParticipant.prenom) }} #}
    {#        {{ form_widget(monProfilFormParticipant.prenom) }} #}
    {#        {{ form_errors(monProfilFormParticipant.prenom) }} #}
    {#    </div> #}

    {#    <div class="group"> #}
    {#        {{ form_label(monProfilFormParticipant.nom) }} #}
    {#        {{ form_widget(monProfilFormParticipant.nom) }} #}
    {#        {{ form_errors(monProfilFormParticipant.nom) }} #}
    {#    </div> #}

    {#    <div class="group"> #}
    {#        {{ form_label(monProfilFormParticipant.telephone) }} #}
    {#        {{ form_widget(monProfilFormParticipant.telephone) }} #}
    {#        {{ form_errors(monProfilFormParticipant.telephone) }} #}
    {#    </div> #}

    {#    <div class="group"> #}
    {#        {{ form_label(monProfilFormParticipant.email) }} #}
    {#        {{ form_widget(monProfilFormParticipant.email) }} #}
    {#        {{ form_errors(monProfilFormParticipant.email) }} #}
    {#    </div> #}

    {#    <div class="group"> #}
    {#        {{ form_label(monProfilFormParticipant.site) }} #}
    {#        {{ form_widget(monProfilFormParticipant.site) }} #}
    {#        {{ form_errors(monProfilFormParticipant.site) }} #}
    {#    </div> #}


    {#    <a href="{{ path('modifiermdp') }}"> Modifier mon mot de passe </a> #}
    {#    <button type="submit" class="btn">Enregistrer</button> #}

    {#    {{ form_end(monProfilFormParticipant) }} #}


    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }
    </script>


{% endblock %}

