{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block link  %}<link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">{% endblock %}
{% block body %}

    <br>
    <br>
    <br>
    <br>

    {#         Pour ajouter le site de l'organisateur #}
    }


    <div class="box has-text-centered m-6 has-background-info">

        <div class="box m-6">
            <p class="is-size-3"> Bienvenue {{ app.user.idParticipant.prenom }}</p>
            <label for=""> Lieu de rattachement </label>
            <p> {{ app.user.idParticipant.site }} </p>


            {{ form_start(creerSortie, {'attr': {'id': 'formulaire', 'class': 'box p-6'}}) }}

            {{ form_row(creerSortie.nom) }}
            <br>
            {{ form_row(creerSortie.dateHeureDebut) }}
            <br>
            {{ form_row(creerSortie.dateHeureFin) }}
            <br>
            {{ form_row(creerSortie.dateLimiteInscription) }}
            <br>
            {{ form_row(creerSortie.nbInscriptionsMax) }}
            <br>
            {{ form_row(creerSortie.InfosSortie) }}
            <br>

            <div id="divSelectVille" class="block">

                <label for="" class="text-primary"> Ville </label>
                <select class="input is-link" name="selectVille" id="selectVille" onchange="getLieu(this.value);">
                    {% for ville in listeVille %}
                        <option value="{{ ville.id }}" name="{{ ville.nom }}"> {{ ville.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="divSelectLieu" class="block">

            </div>


{#            {{ form_row(creerSortie.lieu) }}#}
            <br>

            <div class="field is-grouped  is-grouped-centered">
                <div class="control">
                    {{ form_row(creerSortie.creer) }}
                </div>

                <div class="control">
                    {{ form_row(creerSortie.publier) }}
                </div>

                <div class="control">
                    <button class="button is-block is-info is-normal is-fullwidth" value="Ajouter un lieu">
                        <a id="btn_href" class="has-text-white" href="{{ path('ajouterlieu') }}"> Ajouter un lieu </a>
                    </button>
                </div>
            </div>

            {{ form_end(creerSortie) }}


        </div>
    </div>


    </div>







    {#    <div> #}
    {#        <div> #}
    {#            <label>Pays:</label><br/> #}
    {#            <select name="pays" id="liste-pays" onChange="getVille(this.value);"> #}
    {#                <option value="">Sélectionnez le pays</option> #}
    {#                <?php #}
    {#    foreach($results as $pays) { #}
    {#    ?> #}
    {#                <option value="<?php echo $pays["id"]; ?>"><?php echo $pays["name"]; ?></option> #}
    {#                <?php #}
    {#    } #}
    {#    ?> #}
    {#            </select> #}
    {#        </div> #}
    {#        <div> #}
    {#            <label>Ville:</label><br/> #}
    {#            <select name="ville" id="list-ville"> #}
    {#                <option value="">Sélectionnez la ville</option> #}
    {#            </select> #}
    {#        </div> #}
    {#    </div> #}

    {#        {{ form_label(creerSortie.site) }} #}
    {#        {{ form_widget(creerSortie.site) }} #}
    {#        {{ form_errors(creerSortie.site) }} #}
{% endblock %}


{% block javascripts %}

    <script src="~bulma-calendar/dist/js/bulma-calendar.min.js"></script>

    <script>


        function addSelectLieu(){
            // Création du label avec affectation de valeur
            let labelLieu = document.createElement("label")
            labelLieu.setAttribute("class", "text-primary")
            labelLieu.innerHTML = "Lieu"

            // Création du Select avec affectation de valeur
            let selectLieu = document.createElement("select")
            selectLieu.setAttribute("name", "idLieu")
            selectLieu.setAttribute("id","selectLieu")
            selectLieu.setAttribute("class", "input is-link")

            // Ajout des éléments dans la div
            document.getElementById("divSelectLieu").appendChild(labelLieu)
            document.getElementById("divSelectLieu").append(selectLieu)


        }

        function getLieu(value) {
            $.get("/listeLieuVille/" + value,
                data => {

                // Transformation des dataJSON en format objet.
                var lieux = JSON.parse(data);

                // Vérifications de conditions pour éviter les doublons : si le SelectLieu existe déjà, remove l'ancien. Sinon, en créer un.
                    if(document.getElementById("selectLieu")){

                        // Suppression de l'ancien Select Lieu en cas de changement de ville.
                        document.getElementById("selectLieu").remove()

                        // Création de l'environnement
                        addSelectLieu()

                        // Exploration du JSON et affectation des value dans chacune des options
                        for (let i = 0; i < lieux.length; i++) {
                            let nvOption = document.createElement("option");
                            nvOption.value = lieux[i].id;
                            nvOption.text = lieux[i].nom;
                            selectLieu.add(nvOption);
                        }

                        } else {

                        // Création de l'environnement
                        addSelectLieu()

                        // Exploration du JSON et affectation des value dans chacune des options
                        for (let i = 0; i < lieux.length; i++) {
                                let nvOption = document.createElement("option");
                                nvOption.value = lieux[i].id;
                                nvOption.text = lieux[i].nom;
                                selectLieu.add(nvOption);
                            }
                    }
                }
                );
        }

    </script>
{% endblock %}
