{% extends 'base.html.twig' %}

{% block title %} Modifier une sortie {% endblock %}

{% block link  %}{% endblock %}
{% block body %}

    <br>
    <br>
    <br>
    <br>

    {#         Pour ajouter le site de l'organisateur #}
    }


    <div class="box has-text-centered m-6 has-background-info">

        <div class="box m-6">
            <p class="is-size-3"> Bienvenue {{ app.user.idParticipant.prenom }}</p>
            <p> Modifier une sortie </p>
            <label for=""> Lieu de rattachement </label>
            <p> {{ app.user.idParticipant.site }} </p>
            <div class="columns">
                <div class="column is-one-fifth">

                </div>


                <div class="column is-three-fifths">
                    {{ form_start(formModifSortie, {'attr': {'id': 'formulaire', 'class': 'box p-6'}}) }}

                    {{ form_row(formModifSortie.nom) }}
                    <br>
                    {{ form_row(formModifSortie.dateHeureDebut) }}
                    <br>
                    {{ form_row(formModifSortie.dateHeureFin) }}
                    <br>
                    {{ form_row(formModifSortie.dateLimiteInscription) }}
                    <br>
                    {{ form_row(formModifSortie.nbInscriptionsMax) }}
                    <br>
                    {{ form_row(formModifSortie.InfosSortie) }}
                    <br>

                    <div id="divSelectVille" class="block">

                        <label for="" class="text-primary"> Ville </label>
                        <select class="input is-link is-rounded" name="selectVille" id="selectVille" onchange="getLieu(this.value);">
                            <option value=""> Choisissez la ville </option>
                            {% for ville in listeVille %}
                                <option value="{{ ville.id }}" name="{{ ville.nom }}"> {{ ville.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="divSelectLieu" class="block">

                    </div>

                    <br>



                    <div class="block">
                        <span hidden id="detail" class="tag is-rounded is-info is-light is-medium"> Detail </span>
                    </div>

                    <div id="detailLieu" class="columns">
                        <div class="column">

                            <div class="columns is-mobile">
                                <div class="column" id="colonne1">

                                </div>
                                <div class="column" id="colonne2">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped  is-grouped-centered">
                        <div class="control">
                            {{ form_row(formModifSortie.creer) }}
                        </div>

                        <div class="control">
                            {{ form_row(formModifSortie.publier) }}
                        </div>

                        <div class="control">
                            <button class="button is-block is-info is-normal is-fullwidth" value="Ajouter un lieu">
                                <a id="btn_href" class="has-text-white" href="{{ path('ajouterlieu') }}"> Ajouter un lieu </a>
                            </button>
                        </div>
                    </div>
                    {{ form_end(formModifSortie) }}

                </div>

                <div class="column is-one-fifth">

                </div>











                {#            {{ form_row(creerSortie.lieu) }}#}



            </div>
        </div>


    </div>


{% endblock %}


{% block javascripts %}
    <script>


        function addSelectLieu(){
            let divSelectLieu = document.getElementById("divSelectLieu")

            // Création du label avec affectation de valeur
            let labelLieu = document.createElement("label")
            labelLieu.setAttribute("class", "text-primary")
            labelLieu.setAttribute("id", "labelLieu")

            if(!document.getElementById("labelLieu")) {
                labelLieu.innerHTML = "Lieu"
                divSelectLieu.append(labelLieu)
            }

            // Création du Select avec affectation de valeur
            let selectLieu = document.createElement("select")
            selectLieu.setAttribute("name", "idLieu")
            selectLieu.setAttribute("id","selectLieu")
            selectLieu.setAttribute("class", "input is-link is-rounded")
            selectLieu.setAttribute("onchange", "detailLieu(this.value)")

            // Ajout des éléments dans la div
            document.getElementById("divSelectLieu").appendChild(labelLieu)
            document.getElementById("divSelectLieu").append(selectLieu)


        }

        function getLieu(value) {
            $.get("/listeLieuVille/" + value,
                data => {

                    // Transformation des dataJSON en format objet.
                    var lieux = JSON.parse(data);

                    // Vérifications de conditions pour éviter les doublons : si le SelectLieu existe déjà, remove l'ancien. Sinon, en créer un.
                    if(document.getElementById("selectLieu")){

                        // Suppression de l'ancien Select Lieu en cas de changement de ville.
                        document.getElementById("selectLieu").remove()

                        // Création de l'environnement
                        addSelectLieu()

                        // Exploration du JSON et affectation des value dans chacune des options
                        let blankOption = document.createElement("option")
                        blankOption.textContent= "Choisissez le lieu"
                        selectLieu.append(blankOption)

                        for (let i = 0; i < lieux.length; i++) {
                            let nvOption = document.createElement("option");
                            nvOption.value = lieux[i].id;
                            nvOption.text = lieux[i].nom;
                            selectLieu.add(nvOption);
                        }

                    } else {

                        // Création de l'environnement
                        addSelectLieu()

                        let blankOption = document.createElement("option")
                        blankOption.textContent = "Choisissez le lieu"
                        selectLieu.append(blankOption)

                        // Exploration du JSON et affectation des value dans chacune des options
                        for (let i = 0; i < lieux.length; i++) {
                            let nvOption = document.createElement("option");
                            nvOption.value = lieux[i].id;
                            nvOption.text = lieux[i].nom;
                            selectLieu.add(nvOption);
                        }
                    }
                }
            );
        }

        function detailLieu(value){
            $.get("/detailLieu/" + value,
                data => {

                    document.getElementById("detail").hidden = false

                    let detail = JSON.parse(data)
                    let colonne1 = document.getElementById("colonne1")
                    let colonne2 = document.getElementById("colonne2")

                    let labelRue = document.createElement("label")
                    labelRue.setAttribute("class", "text-primary")
                    labelRue.setAttribute("id", "labelRue")

                    let contenuRue = document.createElement("p")
                    contenuRue.setAttribute("class", "subtitle is-5")
                    contenuRue.setAttribute("id", "contenuRue")
                    contenuRue.innerHTML = detail.rue


                    if(document.getElementById("labelRue")) {
                        document.getElementById("contenuRue").remove()
                        document.getElementById("labelRue").remove()
                        labelRue.innerHTML = "Adresse"
                        colonne1.append(labelRue)
                        colonne1.append(contenuRue)
                    } else {
                        labelRue.innerHTML = "Adresse"
                        colonne1.append(labelRue)
                        colonne1.append(contenuRue)
                    }

                    // ---------------------- CREATION COLONNE 2 AVEC L'IMAGE--------------------

                    let divBox = document.createElement("div")
                    let span = document.createElement("span")
                    span.textContent = "Localisation : "
                    divBox.setAttribute("class", "box")
                    divBox.setAttribute("id", "divBox")
                    divBox.append(span)

                    if(document.getElementById("imgMap")){
                        document.getElementById("imgMap").remove()
                        document.getElementById("divBox").remove()
                        let imgMap = document.createElement("img")
                        imgMap.setAttribute("id", "imgMap")
                        imgMap.setAttribute("width", "600")
                        imgMap.setAttribute("height", "600")
                        imgMap.setAttribute("src", "https://maps.geoapify.com/v1/staticmap?style=osm-bright-smooth&width=600&height=400&center=lonlat%3A"+ detail.longitude + "%2C" + detail.latitude + "&zoom=14.3497&marker=lonlat%3A" + detail.longitude + "%2C" + detail.latitude + "%3Btype%3Aawesome%3Bcolor%3A%23bb3f73%3Bsize%3Ax-large%3Bicon%3Aglass-martini%7Clonlat%3A-122.29282631194182%2C47.549609195001494%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome%7Clonlat%3A-122.28726954893025%2C47.541766557545884%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome&apiKey=3f8da9d0064e4ad7b3cde871f0549055")
                        colonne2.append(divBox)
                        divBox.append(imgMap)
                    } else {
                        let imgMap = document.createElement("img")
                        imgMap.setAttribute("id", "imgMap")
                        imgMap.setAttribute("width", "600")
                        imgMap.setAttribute("height", "600")
                        imgMap.setAttribute("src", "https://maps.geoapify.com/v1/staticmap?style=osm-bright-smooth&width=600&height=400&center=lonlat%3A"+ detail.longitude + "%2C" + detail.latitude + "&zoom=14.3497&marker=lonlat%3A" + detail.longitude + "%2C" + detail.latitude + "%3Btype%3Aawesome%3Bcolor%3A%23bb3f73%3Bsize%3Ax-large%3Bicon%3Aglass-martini%7Clonlat%3A-122.29282631194182%2C47.549609195001494%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome%7Clonlat%3A-122.28726954893025%2C47.541766557545884%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome&apiKey=3f8da9d0064e4ad7b3cde871f0549055")
                        colonne2.append(divBox)
                        divBox.append(imgMap)
                    }

                })
        }




    </script>
{% endblock %}
