{% extends 'base.html.twig' %}

{% block body %}

    <p> {{ InformationsDuParticipantSurLequelOnAClique.nom}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.prenom}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.telephone}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.email}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.site.nom}} </p>

    <img src="
    {%if InformationsDuParticipantSurLequelOnAClique.image  %}
        {{ asset('/uploads/' ~ InformationsDuParticipantSurLequelOnAClique.image ) }}" alt="{{ 'img/profil2.jpg'}}">
    {% else  %}
        {{ asset('img/profil2.jpg') }}" alt="image">
    {% endif %}


{% endblock %}