{% extends 'base.html.twig' %}

{% block body %}

    <p> {{ InformationsDuParticipantSurLequelOnAClique.nom}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.prenom}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.telephone}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.email}} </p>
    <p> {{ InformationsDuParticipantSurLequelOnAClique.site.nom}} </p>


{% endblock %}