<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

    {% block link %} {% endblock %}
    <title>{% block title %}Move It | Hello{% endblock %}</title>
</head>

<body>

{% if app.user %}

{% endif %}

{% block NavBar %}

    <nav class="navbar is-info" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('home') }}">
                <img src="{{ asset('img/logo.png') }}">
                <h1 class="titrelogo"> Move It !</h1>
            </a>
        </div>
        {% if app.user %}
        <div class="navbar-burger burger" id="burger" onclick="toggleBurger()">
        <a role="button" class="navbar-end navbar-burger" id="burger" data-targer="navMenu">
            <a role="button"></a>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
        </a>
        </div>
        <script>
                const toggleBurger = () => {
                let burgerIcon = document.getElementById('burger');
                let dropMenu = document.getElementById('teamList');
                burgerIcon.classList.toggle('is-active');
                dropMenu.classList.toggle('is-active');
                };
        </script>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% if 'ROLE_ADMIN' in app.user.roles %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">
                        Administrer
                    </div>

                    <div class="navbar-dropdown">

                            <a class="navbar-item" href="{{ path('admin_ajouterville') }}">Gérer villes</a>
                            <a class="navbar-item" href="{{ path('admin_gestionsite') }}">Gérer les sites</a>
                            <a class="navbar-item" href="{{ path('app_register') }}">Gérer les utilisateurs</a>

                    </div>
                </div>

                {% endif %}

            <a class="navbar-item" href="{{ path('sortie') }}">Sortie </a>

            <a class="navbar-item" href={{ path('home') }}>Accueil</a>

            <a class="navbar-item" href={{ path('MonProfil') }}>Mon profil</a>

            {% endif %}

            <div>
                <div class="navbar-item">
                    <div class="buttons">
                        {% if app.user %}
                            <a id="boutonCO" class="button is-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% else %}
                            <a id="boutonDECO" class="button is-link" href="{{ path('app_login') }}">Se connecter </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>

{% endblock %}

{% block body %} {% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js">
    <script src="{{ asset('js/creationsortie.js') }}"></script>

{% endblock %}

</body>
</html>
